<form action="/api/v1/faqs/<%- id %>/edit" method="POST" id="faq-form">
  <label for="question">Question</label>
  <input type="text" name="question" id="question" />
  <label for="answer">Answer</label>
  <div name="answer" id="answer"></div>
  <button id="reset" class="btn btn-primary" type="button">Reset</button>
  <button id="save" class="btn btn-success" type="button">Save</button>
</form>
<button id="preview" class="btn btn-secondary">Preivew HTML</button>

<script>
  // prettier-ignore
  const id = '<%- id %>';
  // prettier-ignore
  const question = '<%- question %>';
  // ignore the escape characters
  // prettier-ignore
  const value = <%- JSON.stringify(answer) %>;

  const initialData = {
    question: question,
    answer: value.ops,
  };

  const quill = new Quill("#answer", {
    theme: "snow",
    module: {
      toolbar: [
        [{ header: "1" }, { header: "2" }, { font: [] }],
        [{ size: [] }],
        ["bold", "italic", "underline", "strike", "blockquote"],
        [
          { list: "ordered" },
          { list: "bullet" },
          { indent: "-1" },
          { indent: "+1" },
        ],
        ["link", "image", "video"],
        ["clean"],
      ],
    },
  });
  const previewButton = document.getElementById("preview");
  const saveButton = document.getElementById("save");
  const resetButton = document.getElementById("reset");
  const form = document.querySelector("#faq-form");

  const resetForm = () => {
    document.querySelector('[name="question"]').value = initialData.question;
    quill.setContents(initialData.answer);
  };

  resetForm();
  resetButton.addEventListener("click", resetForm);

  previewButton.addEventListener("click", () => {
    const html = quill.root.innerHTML;
    const win = window.open("", "_blank");
    win.document.write(html);
  });
  form.addEventListener("formdata", (event) => {
    event.formData.append("answer", JSON.stringify(quill.getContents()));
  });

  saveButton.addEventListener("click", () => {
    const context = {}
    const formData = new FormData(form);
    for (var pair of formData.entries()) {
      context[pair[0]] = pair[1];
    }
    fetch(`/api/v1/faqs/${id}`, {
      method: "PUT",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(context),
    })
  });
</script>
